<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebaseemail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebaseemail">
        <activity android:name=".UserList"></activity>
        <activity android:name=".UpHospital" />
        <activity android:name=".hospital_resource"/>
        <activity android:name=".plasma_donor_form" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".vaccin.vaccination"/>
        <activity android:name=".hospital"/>

        <activity android:name=".Tracker.covidmain_activity"/>
        <activity android:name=".LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>